@charset "UTF-8";

/* 전체를 감싸고 있는 메인 */
main {
	margin: 0 auto;
	width: 80%;
	height: 100%;
	display: flex;
	flex: 1;
}

form{
	margin: 0 auto;
}

#title{
	text-align: center;
	font-size: 3em;
	font-weight: bold;
}

th{
	text-align: left;
	width: 80px;
	height: 40px;
}
/* 회원 가입에 필요한 텍스트들 */
.inputText{
	width: 180px;
	height: 30px;	
}

/* 버튼 */
input[type='button'], input[type='reset']{
	padding: 10px 40px 10px;
	color: white;
	font-size: 20px;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 10px;
}

/* 가입 취소 버튼 위치 */
#btns{
	text-align: center;
}

/* 중복 id 체크 버튼 */
#checkId{
	padding: 5px 40px 5px;
	height: 40px;	
}

textarea{
	resize: none; 
	height: 10em;
	width: 25em;
}