@charset "UTF-8";

body {
	width: 100vw;
	height: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

/* header */
header {
	margin: 0 auto;
	width: 80%;
	height: 100px;
	display: flex;
	flex-direction: column;
}

header .logobar {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
}

header .logobar .logo {
	padding: 0;
	margin: 0;
	width: 200px;
	height: 50px;
	display: flex;
}

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 10,
		'wght' 400,
		'GRAD' 0,
		'opsz' 0;
}

header .logobar .logo #logoimg {
	width: 50px;
	height: 50px;
	font-size: 48px;
	color: rgba(0, 0, 0, 0.7);
}

header .logobar .logo strong {
	width: 100px;
	padding: 0;
	height: 50px;
	font-size: 30px;
	color: rgba(0, 0, 0, 0.7);
}

header .logobar label {
	width: 100px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	text-align: right;
}

header .menubar {
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
}

header .menubar .menu {
	background: rgba(0, 0, 0, 0.7);
	text-align: center;
	line-height: 50px;
	font-size: 2em;
	color: white;
	width: 100%;
	height: 100%;
	flex: 1;
}

header .menubar .menu:hover {
	color: gray;
}

header .menubar :first-child {
	border-radius: 10px 0 0 10px;
}

header .menubar :last-child {
	border-radius: 0 10px 10px 0;
}

.material-symbols-outlined {
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48
}

/* footer */
footer {
	padding: 20px;
	margin: 0 auto;
	width: 80%;
	height: 100px;
	text-align: center;
}